.display-container {
    width: calc(100% - 340px);
    height: 100%;
    font-family: Proxima Nova,sans-serif;
   
    .dash-header {
        justify-content: flex-start;
        display: flex;
        width: 100%;
        padding: 36px;
        height: 202px;
        box-sizing: border-box;
        .header-text-container {
            text-align: left;
            color: rgb(40, 165, 220);
            align-items: flex-start;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;
            height: 130px;
            padding-left: 36px;
            padding-right: 36px;
            font-weight: 700;
            line-height: 36px;
        .header-title {
            font-size: 36px;
            text-transform: capitalize;
        }
        .creator-name {
            font-size: 14px;
            margin-top: 20px;
            text-transform: capitalize;
            .darker-text {
                color: rgba(38, 63, 87, 0.8);
            }
        }
        .header-actions {
            display: flex;
            .deck-action-buttons {
                align-items: center;
                display: flex;
                margin-left: -8px;
                margin-right: 30px;
                .study-button {
                    color: hsla(220,7%,52%,.66);
                    position: relative;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    background-color: transparent;
                    border-radius: 50%;
                    cursor: pointer;
                    font-size: 36px;
                    height: 36px;
                    width: 36px;
                    .study-icon-container {
                        display: block;
                        .study-icon {
                            background-color: hsla(220,7%,52%,.66);
                            border-radius: 50%;
                            height: 24px;
                            width: 24px;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            &:hover {
                                background-color: #28a5dc;
                            }
                            &:before {
                                font-family: Ionicons;
                                color: #fff;
                                content: "\F488";
                                font-size: 18px;
                                font-style: normal;
                                margin-left: 3px;
                            }
                        }
                    }
                }
                .ellipses-button {
                    height: 36px;
                    width: 36px;
                    .ellipses-open {
                        .ellipses-icon-container {
                            font-size: 36px;
                            z-index: 11;
                            .ellipses-icon {
                                height: 100%;
                                width: 100%;
                                align-items: center;
                                display: flex;
                                justify-content: center;
                                font-size: 36px;
                                color: hsla(220, 7%, 52%, .66);
                                cursor: pointer;

                                &:before {
                                    content: "\F396";
                                    font-family: Ionicons;
                                    box-sizing: border-box;
                                }

                                &:hover {
                                    color: #28a5dc;
                                }
                            }
                        }
                        .menu-open {
                            background-color: #f4f6f6;
                            border: 1px solid rgba(0,0,0,.15);
                            border-radius: 4px;
                            box-shadow: none;
                            color: #222;
                            font-size: 14px;
                            left: -6px;
                            line-height: 32px;
                            list-style: none;
                            margin-top: 10px;
                            min-width: 160px;
                            padding: 10px 0;
                            position: absolute;
                            text-align: left;
                            text-indent: 0;
                            top: 36px;
                            z-index: 10;
                            &:before {
                                color: #f4f6f6;
                                top: -9px;
                                z-index: 100;
                            }
                        }

                    }
                }
            }
        }
    }
    .header-icon-container {
        height: 130px;
        width: 130px;
        img {
            height: 130px;
            width: 130px;
        }
    }

    }
}