.dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.dash-header {
    box-sizing: border-box;
    display: block;
    flex-direction: column;
    height: 244px;
    width: 938px;
    .header-icon-container {

    }
    .header-text-container {

        .header-title {

        }
        .creator-name {
            
        }
    }
}