.deck-show {
    display: flex;
    flex-direction: column;
    height: calc(100% - 202px);
    .deck-cards-navbar {
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(5, 101, 156, 0.08);
        border-bottom-color: rgba(46, 64, 86, 0.26);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        .tab {
            margin-top: 8px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 14px;
            width: 100%;
            font-weight: 400;
            line-height: 19.6px;
            text-size-adjust: 100%;
            color: rgba(70, 80, 94, 0.8);
            cursor: pointer;
            border-bottom: 8px solid transparent;
            &:hover {
                border-bottom: 8px solid rgba(18,57,108,.18);
                color: #28a5dc;
            }
            &.active {
                border-bottom: 8px solid rgba(18, 57, 108, 0.36);
                color: rgb(70, 80, 94);
                font-weight: 600;
            }

        }
    }
    .deck-list {
        overflow-y: scroll;
        height: 100%;
    }
    .deck-item {
        cursor: pointer;
        text-transform: capitalize;
        text-size-adjust: 100%;
        color: #28a5dc;
        line-height: 19.8px;
        margin-right: 18px;
        font-size: 18px;
        font-weight: 600;
        align-items: center;
        box-sizing: border-box;
        display: flex;
        height: 93px;
        padding-bottom: 24px;
        padding-left: 42px;
        padding-right: 42px;
        padding-top: 24px;
        position: relative;
        border-bottom-color: rgb(204, 204, 204);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        &:hover {
            background-color: #eef7ff;
            .card-icon {
                color: rgb(40, 165, 220);
                &.flipped {
                    color: #ff8a47;
                }
            }
            &.deck-item-footer {
                .card-title { color: rgb(40, 165, 220); }
                .item-bar { background-color: rgba(0,175,247,.16); }
            }
        }
        &.deck-item-header {
            cursor:default;
            font-size: 13px;
            font-weight: 400;
            color: #333;
            padding-top:5px;
            padding-bottom:5px;
            height: 60px;
            display: flex;
            justify-content: space-between;
            .study-button {
                background-color: #cecece;
                margin-left: 30px;
                border-radius: 24px;
                cursor: pointer;
                display: flex;
                align-items: center;
                height: 36px;
                font-size: 16px;
                justify-content: space-between;
                padding: 0 3px 0 36px;
                width: 32vw;
                position: relative;
                .inner-study-button {
                    align-items: center;
                    background-color: #fff;
                    border-radius: 50%;
                    display: flex;
                    height: 22px;
                    justify-content: center;
                    width: 22px;
                    left: 10px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    &::before {
                        color: #28a5dc;
                        content: "\F488";
                        font-family: Ionicons;
                        font-size: 18px;
                        font-style: normal;
                        margin-left: 3px;
                        margin-top: 1px;
                    }
                }
                .study-button-text {
                    color: #fff;
                    flex: 1;
                    text-align: center;
                }
            }
            .deck-links {
                font-size: 14px;
                a {
                    display: flex;
                    align-items: center;
                }
                .deck-link-text {
                }
            }
        }
        .round-icon-container {
            display: flex;
            align-items: center;
            .round-icon {
                cursor: pointer;
                font-size: 14px;
                width: 20px;
                height: 20px;
                background-image: url(http://www.brainscape.com/assets/icons/checkbox-unchecked.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50%;
                margin-right: 24px;
            }
        }
        .card-icon {
            font-size: 42px;
            color: #ddd;
        }
        .card-details {
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            .card-title-container {
                display: flex;
                flex-direction: row;
            }
            .card-title {
                margin-right: 18px;
            }
            .deck-item-caption {
                text-transform: none;
                color: rgb(153, 153, 153);
                font-size: 12px;
                font-weight: 400;
            }
        }
        &.deck-item-footer {
            .card-title { color: #ccc; }
            .item-bar { background-color: #eee; }
        }
        .card-delete {
            box-sizing: border-box;
            display: flex;
            background-color: rgb(255, 138, 71);
            height: 30px;
            width: 90px;
            cursor: pointer;
            border-radius: 36px;
            margin-left: auto;
            align-items: center;
            justify-content: center;
            transition: all .3s;
            line-height: 1.4;
            transition: all .3s;
            &:hover {
                background-color: #ffaa7a;
            }
            .delete-text {
                font-size: 14px;
                font-weight: 400;
                text-align: right;
                color: rgb(255, 255, 255);
                font-weight: 400;

            }
        }
    }
    .item-bar {
        margin-top: 6px;
        height: 10px;
        width: 30vw;
        // background-color: rgb(41, 165, 220);
        background-color: rgba(0,175,247,.16);
    }
}





.deck-cards-navbar {
    background-color: green;
    display: flex;
    height: 42px;
    width: 100%;
}