/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "colors";
@import "font-faces";

html, body, #root {
    height: 100%;
}

body, html {
    font-family: "Open Sans", sans-serif;
}
a {
}
.hidden {
    display: none !important; 
}
.hidden2, .invisible {
    visibility: hidden;
}
.transparent {
    opacity: 0;
}
.dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.disabled {
    pointer-events: none;
}

.bold {
    font-weight: 700;
}
.button-row {
    display: flex;
    align-items: center;
    .square-button { 
        font-size: 13.7px;
        display: flex;  
        align-items: center;
        cursor: pointer;
        background-color: #fff;
        color: #000;
        display: inline-flex;
        font-weight: 600;
        justify-content: center;
        line-height: 1.125rem;
        text-transform: capitalize;
        transition: background-color .3s ease;
        margin-right: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
        &.blue {
            background-color: #3faee0;
            color: #fff;
        }
    }
}
.square-button {
    width: 250px;
    height: 80px;
    background-color: #fff;
    color: #000;
    &.blue {
        background-color: #3faee0;
        color: #fff;
    }
}

#navbar {
    background-color: #fff;
    display: block;
    height: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .with-search-icon::before {
        content: "\F4A4";
        font-family: Ionicons;
        font-size: 24px;
        font-style: normal;
        font-size: 14px;
        margin-right: 4px;
    }

    .items {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .logo {
        background-image: url(https://i.imgur.com/ujETBSw.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 143px;
        height: 36px;
    }
    .logo-container {
        height: 80px;
        width: 143px;
        display: flex;
        align-items: center;
        padding-left: 45px;
    }
    .options {
        display: flex;
        height: 100%;
        width: 50%;
        justify-content: space-evenly;
        margin: 0;
        font-weight: 700;
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        font-size: 12.3678px;
        line-height: 17.3149px;
        .option {
            color: black;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #fff;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;

            &:before {
                content: " ";
                opacity: 0;
            }
            &:hover{
                border-top: 5px solid #8e8e8e;
                opacity: 100%;
                transition: border-top 1s;
            }
            .dropdown-container {
                position: absolute;
                width: 100vw;
                top: 80px;
                left: 0;
                z-index: 12;
                display: none;
                background-color: #f8f8f8;
                height: 500px;
                box-shadow: 0 6px 12px #0003;
            }
            &.dropdown:hover {
                 .dropdown-container {
                    display: block;
                }
            }
        }
    }
    .actions {
        display: flex;
        height: 100%;
        justify-content: flex-end;
        position: relative;
        margin: 0;
        padding: 0;
        font-weight: 600;

        .action {
            cursor: pointer;
            font-size: 13.25px;
            &:not(.account):hover {
                font-size: 13.74px;
            }
        }
        .login {
            color: #393030;
            background-color: #fdf8f7;
            width: 123px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: #faf6f6;
            }
        }
        .account {
            position: relative;
            color: #393030;
            background-color: #fff;
            width: 204px;
            margin-left: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            .account-name-link {
                font-weight: 400;
                &:hover, &.highlight {
                    color: #3faee0;
                }
            }
            .user-account-image {
                width: 42px;
                height: 42px;
                border-radius: 50%;
                margin-right: 12px;
                border: 2px solid transparent;
            }
            &:hover, &.highlight {
                background-color: rgba(0,0,0,.05);
                .user-account-image {
                   border: 2px solid #3faee0;
                }
            }
        }
        .upgrade {
            background-color: #ff8a47; 
            color: #fff;
            width: 123px;
            display: flex;
            align-items: center;
            justify-content: center;
        };
    }

    .dropdown {
        &::after {
            content: "\F35F";
            font-family: Ionicons;
            font-size: 24px;
            font-style: normal;
            line-height: inherit;
            font-size: 15px;
            margin-left: 6px;
        }

        .dropdown-items {
            z-index: 999;
            display: flex;
            color: #393030;    
            background-color: hsla(0,0%,100%,.95);
            flex-direction: column;
            left: 0;
            position: absolute;
            top: 80px;
            width: 100%;
            animation: dropdownMenuSlide .2s ease-out forwards;
            a {
                color: inherit;
                display: block;
                font-size: 12px;
                height: 100%;
                padding: 12px 18px;
                text-decoration: none;
                width: 100%;
            }
        }
    }

}

.modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1500;
    background-color: rgba(0, 0, 0, 0.6);
}
@keyframes fadeIn {
    0% {opacity:0; margin-bottom: 150px;}
    100% {opacity:1; margin-bottom: 0;}
}
.btn-demo-user {
    color: white;
    font-size: 14px;
    font-weight: 700;
    height: 48px;
    border-radius: 33px;
    display: block;
    width: 95%;
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ff8a47;
    &:hover {
        background-color: #ffaa7a;
    }
}
.modal-form-container {
    background: #fff;
    border-radius: 24px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    display: flex;
    animation: fadeIn ease .5s;
    a {
        color: #3faee0;
    }
    &.login-modal-container {
        width: 340px;
        height: 400px;
    }

    &.signup-modal-container {
        background-image: url(https://www.brainscape.com/assets/auth/registration-modal-bg-3.png);
        background-position: 0;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        color: #333;
        width: 740px;
        height: 500px;
        padding: 30px;
        font-weight: 400;

        h2 {
            text-align: left;
        }
        .signup-marketing {
            color: #fff;
            width: 240px;
            display: block;
            position: relative;
            font-weight: 600;
            .logo {
                background-image: url(https://i.imgur.com/i1U3e2r.png);
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: contain;
                height: 36px;
                width: 36px;
                position: absolute;
                top: 0;
                left: 0;
            }
            .bottom {
                width: 240px;
                position: absolute;
                bottom: 0;
                font-size: 15px;
                h3 {
                    font-size: 20px;
                }
                ul {
                    margin-left: 15px;
                }
                li {
                    list-style-type: disc;
                    margin-bottom: 7px;
                }
            }
        }
        .modal-signup-form {
            padding-left: 100px;
            position: relative;
        }
        .registration-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .signup-link {
            justify-content: left;
            margin-right: 120px;
        }
    }
    .modal-x {
        position: absolute;
        top: 18px;
        right: 18px;  
        color: #777;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        &:hover {   
            cursor: pointer;
            border-radius: 50%;
            color: #3faee0;
            background-color: rgba(0,0,0,.1);
            box-sizing: border-box;
        }
        &:before {
            content: "\F404";
            font-family: Ionicons;
            content: "\F404";
            font-size: 42px;
            -webkit-font-smoothing: antialiased;
        }
    }
    .links {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        font-size: 14px;
        bottom: 0;
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
        left: 0;
        right: 0;
        a {
            border-bottom: 1px solid transparent;
        }
        a:hover {
            border-bottom: 1px solid #3faee0;
        }
    }

    h2 {
        color: #197096;
        font-size: 36px;
        text-align: center;
        text-transform: capitalize;
        font-family: "Proxima Nova",sans-serif;
        font-weight: 600;
        margin-bottom: 60px;
    }

    .modal-input {
        border-bottom: 4px solid #eee;
        color: #197096;
        font-size: 16px;
        padding: 0;
        width: 95%;
        height: 36px;
        margin-bottom: 18px;
        font-weight: 600;
        &:focus {
            border-bottom: 3px solid #3faee0;
        }
        &::placeholder {
            vertical-align: bottom;
            color: #aaa;
            font-weight: 600;
        }
    }
    .errors {
        color: #f00;
        font-style: italic;
        margin-top: 40px;
        text-align: center;
        width: 100%;
    }
}
.form-submit {
    font-size: 14px;
    font-weight: 700;
    height: 48px;
    border-radius: 33px;
    display: block;
    width: 95%;
    max-width: 160px;
    text-align: center;
    color: #fff;
    background-color: #ff8a47;
    margin-left: auto;
    margin-right: auto;
    &:hover {
        background-color: #ffaa7a;
    }
    &.disabled {
        background-color: #cecece;
        cursor: not-allowed;
        
    }
}
.carousel {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    min-width: 100%;
    .marketing {
        position: absolute;
        z-index: 10;
        bottom: 14%;
        margin-right: 4%;
        margin-left: 4%;
        color: #fff;
        .hero {
            font-size: 117.3px;
            font-weight: 500;
            font-family: "Mont Bold", sans-serif;
            line-height: 117px;
        }
        .hero-sub {
            font-size: 25px;
            line-height: 31.75px;;
            margin-top: 20px;
            margin-bottom: 15px;
        }
    }
    .carousel-slide {
        .overlay {
            background-color: #19202a;
            height: 100%;
            left: 0;
            opacity: .259;
            position: absolute;
            top: 0;
            width: 100%;
        }
        &.carousel-slide {
            left: 100%;
            background-position: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            position: absolute;
            width: 100%;
            min-width: 100%;
            // display: none;
            &.previous {
                left: -100%;
                transition: left 1.5s ease;
            }
            &.active {
            //     display: block;
                left: 0;
                transition: left 1.5s ease;
            }
            &.background-0 {
                background-image: url(https://www.brainscape.com/assets/cms/marketing/pages/landing/band-1/image-1.jpg);
            }
            &.background-1 {
                background-image: url(https://www.brainscape.com/assets/cms/marketing/pages/landing/band-1/image-2.jpg);
            }
            &.background-2 {
                background-image: url(https://www.brainscape.com/assets/cms/marketing/pages/landing/band-1/image-3.jpg);
            }
            &.background-3 {
                background-image: url(https://www.brainscape.com/assets/cms/marketing/pages/landing/band-1/image-4.jpg);
            }
            &.background-4 {
                background-image: url(https://www.brainscape.com/assets/cms/marketing/pages/landing/band-1/image-5.jpg);
            }
            &.background-5 {
                background-image: url(https://www.brainscape.com/assets/cms/marketing/pages/landing/band-1/image-6.jpg);
            }
        }
    }
}
.checkbox-container {
    display: flex;
    margin-right: 2px;
    * {
        box-sizing: border-box;
    }
    .checkbox {
        font-size: 14px;
        text-decoration: none;
        background-size: contain; 
        background-image: url(https://www.brainscape.com/assets/icons/checkbox-unchecked.png);
        width: 18px;
        height: 20px;
        cursor: pointer;
        margin-right: 5px;
        &.checked {
            background-image: url(https://www.brainscape.com/assets/icons/checkbox-checked.png);
        }
    }
    .checkbox-text {
        text-decoration: underline;
        color: #3faee0;
        cursor: pointer;
        font-size: 14px;
    }
}
.searchbar-container {
    background-color: #fff;
    z-index: 10;
    display: flex;
    font-size: 14px;
    color: #333;
    padding-left: 45px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;

    .searchbar {
        display: flex;
        position: relative;
        align-items: center;

        .searchbar-icon::before {
            font-family: Ionicons;
            content: "\F4A4";
            display: flex;
            top: 14px;
            left: 4%;
            color: #3faee0;
            font-size: 36px;
        }

        .search-input {
            text-align: left;
            padding-left: 20px;
            display: inline-block;
            font-weight: 100;
            line-height: 60px;
            width: calc(100vw - 250px);
            border-top: 1px solid #f4f4f4;
            font-size: 21px;
            font-family: Proxima Nova, sans-serif;
            background-color: hsla(0, 0%, 100%, .95);
            vertical-align: top;
            padding-right: 9.9px;
        }

        .search-button {
            height: 60px;
            align-items: flex-end;
            text-align: center;
            width: 165px;
            background-color: rgb(63, 174, 224);
            color: #fff;
            font-weight: bold;
        }
    }
}
.deck-nav-footer-container {
    position: absolute;
    box-sizing: border-box;
    bottom: 140px;
    height: 70px;
    display: flex;
    font-size: 20px;
    padding: 24px 18px;
    width: 100%;
    a {
        color: hsla(0,0%,100%,1);
        opacity: .4;
        &:hover {opacity: .8;}
    }
    .deck-nav-footer {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        .github-link:before {
            content: "\f09b";
            font-family: 'Font Awesome 5 Brands';
        }
        .linkedin-link:before {
            content: "\f0e1";
            font-family: 'Font Awesome 5 Brands';
        }
        .portfolio-link {
            background-image: url(https://i.ibb.co/B4B7VRK/New-Project-1.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 27px;
            width: 27px;
            background-position: center;
            opacity: .55;
            &:hover {opacity: .9;}
        }
        .resume-link:before {
            content: "\f019";
            font-family: 'FontAwesome';
        }
    }
}