/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "colors";
@import "font-faces";

body, html {
    font-family: "Open Sans", sans-serif;
}

#navbar {
    background-color: #fff;
    display: block;
    height: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .items {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .logo {
        background-image: url(https://www.brainscape.com/assets/cms/marketing/shared/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 143px;
        height: 36px;
    }
    .logo-container {
        height: 80px;
        width: 143px;
        display: flex;
        align-items: center;
        padding-left: 45px;
    }
    .options {
        display: flex;
        height: 100%;
        width: 50%;
        justify-content: space-evenly;
        position: relative;
        margin: 0;
        font-weight: 600;
        .option {
            color: black;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #fff;
            font-size: 12.44px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
        }
    }
    .actions {
        display: flex;
        height: 100%;
        justify-content: flex-end;
        position: relative;
        margin: 0;
        padding: 0;
        font-weight: 600;

        .action {
            cursor: pointer;
            font-size: 13.25px;
            &:hover {
                font-size: 13.74px;
            }
        }
        .login {
            color: #393030;
            background-color: #fdf8f7;
            width: 123px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: #faf6f6;
            }
        }
        .upgrade {
            background-color: #ff8a47; 
            color: #fff;
            width: 123px;
            display: flex;
            align-items: center;
            justify-content: center;
        };
    }

}

.modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1500;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal-form-container {
    background: #fff;
    border-radius: 24px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    display: flex;
    a {
        color: #3faee0;
    }
    &.login-modal-container {
        width: 340px;
        height: 400px;
    }

    .signup-modal-container {
        color: #333;
        width: 800px;
        height: 468px;
        font-weight: 400;
    }
    .modal-x {
        position: absolute;
        top: 18px;
        right: 18px;  
        color: #777;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {   
            cursor: pointer;
            border-radius: 50%;
            color: #3faee0;
            background-color: rgba(0,0,0,.1);
            box-sizing: border-box;
        }
        &:before {
            content: "\F404";
            font-family: Ionicons;
            content: "\F404";
            font-size: 42px;
            -webkit-font-smoothing: antialiased;
        }
    }
    .links {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        font-size: 14px;
        bottom: 0;
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
        left: 0;
        right: 0;
        a:hover {
            border-bottom: 1px solid #3faee0;
        }
    }

    h2 {
        color: #197096;
        font-size: 36px;
        text-align: center;
        text-transform: capitalize;
        font-family: "Proxima Nova",sans-serif;
        font-weight: 600;
        margin-bottom: 60px;
    }

    .modal-input {
        border-bottom: 4px solid #eee;
        color: #197096;
        font-size: 16px;
        padding: 0;
        width: 100%;
        height: 36px;
        margin-bottom: 18px;
        font-weight: 600;
        &:focus {
            border-bottom: 3px solid #3faee0;
        }

        &::placeholder {
            vertical-align: bottom;
            color: #aaa;
            font-weight: 600;
        }
    }
    .errors {
        color: #f00;
        font-style: italic;
        margin-top: 40px;
        text-align: center;
        width: 100%;
    }
}

.form-submit {
    font-size: 14px;
    font-weight: 700;
    height: 48px;
    border-radius: 33px;
    display: block;
    width: 100%;
    max-width: 185px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    background-color: #ff8a47;
    &:hover {
        background-color: #ffaa7a;
    }

    &.disabled {
        background-color: #cecece;
        cursor: not-allowed;
        
    }
}

.carousel {
    .carousel-slide {
        .overlay {
            background-color: #19202a;
            height: 100%;
            left: 0;
            opacity: .259;
            position: absolute;
            top: 0;
            width: 100%;
        }
        &.background-1 {
            background-image: url(https://www.brainscape.com/assets/cms/marketing/pages/landing/band-1/image-4.jpg);
            background-position: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            position: relative;
            width: 100%;
            min-width: 100%;
        }
    }
}

.checkbox-container {
    display: flex;
    * {
        box-sizing: border-box;
    }
    .checkbox {
        background-size: contain; 
        background-image: url(https://www.brainscape.com/assets/icons/checkbox-unchecked.png);
        width: 20px;
        height: 20px;
        &.checked {
            background-image: url(https://www.brainscape.com/assets/icons/checkbox-checked.png);
        }
    }
    .checkbox-text {
        margin-left: 8px;
        text-decoration: underline;
        color: #3faee0;
        cursor: pointer;
        font-size: 14px;
    }
}



