
@font-face {
    font-family: glyphicons-halflings;
    font-display: swap;
    src: url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff2) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Proxima Nova;
    font-display: swap;
    src: url(https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNovaT-Thin.woff) format("woff");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: Proxima Nova;
    font-display: swap;
    src: url(https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Proxima Nova;
    font-display: swap;
    src: url(https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Proxima Nova;
    font-display: swap;
    src: url(https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Semibold.woff) format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Proxima Nova;
    font-display: swap;
    src: url(https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Ionicons;
    font-display: swap;
    src: url(https://cdn.jsdelivr.net/npm/ionicons-npm@2.0.1/fonts/ionicons.woff) format("woff");
    font-weight: 400;
    font-style: normal
}